@model List<Oswam2015.Models.GetAllPreferences_Result>
@{
    ViewData["Title"] = "Settings";
    ViewBag.Page = "Settings";
}

<!DOCTYPE html>
<div>
    <div class="row row-flex">
        <div class="col-sm-2 col-md-2">
            <div class="panel panel-default flex-col">
                <div class="panel-heading">
                    <h4 class="">Inventory Config.</h4>
                </div>
                <div class="panel-body flex-grow">
                    <ul class="list-group">
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-md-2">
            <div class="panel panel-default flex-col">
                <div class="panel-heading">
                    <h4 class=""></h4>
                </div>
                <div class="panel-body flex-grow">
                    <ul class="list-group">
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="panel panel-default flex-col">
                <div class="panel-heading">
                    <h4 class="">Warehous Config</h4>
                </div>
                <div class="panel-body flex-grow">
                    <table class="table table-bordered">
                        <thead><tr></tr></thead>
                        <tbody>
                            <tr><td><button class="btn-primary">Num Shelves</button>@Model.ElementAt(0).PreferenceValue</td></tr>
                            <tr><td><button class="btn-primary">Shelf Height</button>@Model.ElementAt(1).PreferenceValue '</td></tr>
                            <tr><td><button class="btn-primary">Shelf Side Length</button>@Model.ElementAt(2).PreferenceValue '</td></tr>
                            <tr><td><button class="btn-primary">Shelf Weight Limit</button>@Model.ElementAt(3).PreferenceValue pounds</td></tr>
                            <tr><td><button class="btn-primary">Warehouse Length (ft)</button>@Model.ElementAt(4).PreferenceValue '</td></tr>
                            <tr><td><button class="btn-primary">Warehouse Width (ft)</button>@Model.ElementAt(5).PreferenceValue '</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-md-5">
            <div class="panel panel-default flex-col">
                <div class="panel-heading">
                    <h4 class="">System Diagnostics</h4>
                </div>
                <div class="panel-body flex-grow">
                    <ul class="list-group">
                        <li class="list-group-item">Total Warehouse Sq Ft:</li>
                        <li class="list-group-item">Total Shelf Capacity cu ft:</li>
                        <li class="list-group-item">Total Items Stored:</li>
                        <li class="list-group-item">Average Order Completion Time:</li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>