@model List<Oswam2015.Models.GetAllPreferences_Result>
@{
    ViewData["Title"] = "Settings";
    ViewBag.Page = "Settings";

    int totalWarehouseArea = Model.ElementAt(4).PreferenceValue.Value * Model.ElementAt(5).PreferenceValue.Value;
    int totalWarehouseVolFt = ((Model.ElementAt(2).PreferenceValue.Value * Model.ElementAt(2).PreferenceValue.Value) * Model.ElementAt(1).PreferenceValue.Value) * Model.ElementAt(0).PreferenceValue.Value;
}

<!DOCTYPE html>
<div>
    <div class="row row-flex">
        <div class="col-sm-2 col-md-2">
            <div class="panel panel-default flex-col">
                <div class="panel-heading">
                    <h4 class="">Inventory Config</h4>
                </div>
                <div class="panel-body flex-grow">
                    <ul class="list-group">
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-md-2">
            <div class="panel panel-default flex-col">
                <div class="panel-heading">
                    <h4 class="">Orders Config</h4>
                </div>
                <div class="panel-body flex-grow">
                    <ul class="list-group">
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="pmanel panel-default flex-col">
                <div class="panel-heading">
                    <h4 class="">Warehouse Config</h4>
                </div>
                <div class="panel-body flex-grow">
                    <table class="table table-bordered">
                        <thead><tr></tr></thead>
                        <tbody>
                            <tr><td><button class="btn btn-primary prefTextField" id="pref3But1">Num Shelves</button> 
                                <input type="text" id="pref3In1" data-id="0" onkeydown="save(this)" onfocus="this.select();" value="@Model.ElementAt(0).PreferenceValue" /></td></tr>
                            <tr><td><button class="btn btn-primary prefTextField" id="pref3But7">Num Packing Stations</button>
                                 <input type="text" id="pref3In7" data-id="7" onkeydown="save(this)" onfocus="this.select();" value="@Model.ElementAt(7).PreferenceValue" /></td></tr>
                            <tr><td><button class="btn btn-primary prefTextField" id="pref3But2">Shelf Height</button> 
                                <input type="text" id="pref3In2" data-id="1" onkeydown="save(this)" onfocus="this.select();" value="@Model.ElementAt(1).PreferenceValue" /> feet</td></tr>
                            <tr><td><button class="btn btn-primary prefTextField" id="pref3But3">Shelf Side Length</button> 
                                <input type="text" id="pref3In3" data-id="2" onkeydown="save(this)" onfocus="this.select();" value="@Model.ElementAt(2).PreferenceValue" /> feet</td></tr>
                            <tr><td><button class="btn btn-primary prefTextField" id="pref3But4">Shelf Weight Limit</button> 
                                <input type="text" id="pref3In4" data-id="3" onkeydown="save(this)" onfocus="this.select();" value="@Model.ElementAt(3).PreferenceValue" /> pounds</td></tr>
                            <tr><td><button class="btn btn-primary prefTextField" id="pref3But5">Warehouse Length (ft)</button> 
                                <input type="text" id="pref3In5" data-id="4" onkeydown="save(this)" onfocus="this.select();" value="@Model.ElementAt(4).PreferenceValue" /> feet</td></tr>
                            <tr><td><button class="btn btn-primary prefTextField" id="pref3But6">Warehouse Width (ft)</button> 
                                <input type="text" id="pref3In6" data-id="5" onkeydown="save(this)" onfocus="this.select();" value="@Model.ElementAt(5).PreferenceValue" /> feet</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-md-5">
            <div class="panel panel-default flex-col">
                <div class="panel-heading">
                    <h4 class="">System Diagnostics</h4>
                </div>
                <div class="panel-body flex-grow">
                    <ul class="list-group">
                        <li class="list-group-item">Total Warehouse Sq Ft: &nbsp; @totalWarehouseArea</li>
                        <li class="list-group-item">Total Shelf Capacity cu ft: &nbsp; @totalWarehouseVolFt</li>
                        <li class="list-group-item">Total Items Stored: &nbsp; </li>
                        <li class="list-group-item">
                            <div class="form-group">
                                <label for="sel1">Item Sorting Style</label>
                                <select onchange="sortingSelectChange()" class="form-control" id="sel1">
                                    <option>Alphabetically</option>
                                    <option>By Volume</option>
                                </select>
                            </div>
                        </li>
                        <li class="list-group-item">Average Order Completion Time: &nbsp; </li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $("input").on("keydown", function save(e) {
            if (e.keyCode == 13) {
                savePreference(this);
            }
        });

        function sortingSelectChange() {
            var selectionFormObj = document.getElementById("sel1");
            alert("" + selectionFormObj.options[selectionFormObj.selectedIndex].value);

            $.ajax({
                type: 'POST',
                url: '/Settings/SetPreference',
                data: {
                    'preferenceID': 8,
                    'newPreferenceValue': selectionFormObj.selectedIndex
                }
            });
        }

        function savePreference(textField) {
            var preferenceID = $(textField).attr("data-id");
            var newPreferenceValue = $(textField).val();

            //alert(preferenceID); //preference id number
            //alert(newPreferenceValue); //text entry value

            $.ajax({
                type: 'POST',
                url: '/Settings/SetPreference',
                data: {
                    'preferenceID': preferenceID,
                    'newPreferenceValue': newPreferenceValue
                },
                success: function () {
                    window.location.reload();
                }
            });
        }

        document.getElementById('pref3But1').onclick = function () {
            document.getElementById('pref3In1').focus();
        };
        document.getElementById('pref3But2').onclick = function () {
            document.getElementById('pref3In2').focus();
        };
        document.getElementById('pref3But3').onclick = function () {
            document.getElementById('pref3In3').focus();
        };
        document.getElementById('pref3But4').onclick = function () {
            document.getElementById('pref3In4').focus();
        };
        document.getElementById('pref3But5').onclick = function () {
            document.getElementById('pref3In5').focus();
        };
        document.getElementById('pref3But6').onclick = function () {
            document.getElementById('pref3In6').focus();
        };
        document.getElementById('pref3But7').onclick = function () {
            document.getElementById('pref3In7').focus();
        };
    </script>    
}