<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OSWAM - @ViewData["Title"]</title>

    <environment names="Development">
        <script src="~/Scripts/jquery-3.1.1.js"></script>
        <link rel="stylesheet" href="~/content/bootstrap.css" />
        <link rel="stylesheet" href="~/content/Site.css" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/content/bootstrap.css"
              asp-fallback-href="~/content/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/content/Site.min.css" asp-append-version="true" />
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/Scripts/jquery-3.1.1.min.js"
                asp-fallback-test="window.jQuery">
        </script>
    </environment>

    @RenderSection("styles", required: false)
</head>
<body>
    <ul class="nav nav-tabs nav-justified">
        @if (ViewBag.Page == "Inventory")
        {
            <li role="presentation" class="active"><a href="@Url.Action("Index", "Inventory")">Inventory</a></li>
            <li role="presentation"><a href="@Url.Action("Index", "Orders")">Orders</a></li>
            <li role="presentation"><a href="@Url.Action("Index", "FloorGrid")">Floor Grid</a></li>
            <li role="presentation"><a href="@Url.Action("Index", "Settings")">Settings</a></li>
        }
        else if (ViewBag.Page == "Orders")
        {
            <li role="presentation"><a href="@Url.Action("Index", "Inventory")">Inventory</a></li>
            <li role="presentation" class="active"><a href="@Url.Action("Index", "Orders")">Orders</a></li>
            <li role="presentation"><a href="@Url.Action("Index", "FloorGrid")">Floor Grid</a></li>
            <li role="presentation"><a href="@Url.Action("Index", "Settings")">Settings</a></li>

        }
        else if (ViewBag.Page == "FloorGrid")
        {
            <li role="presentation"><a href="@Url.Action("Index", "Inventory")">Inventory</a></li>
            <li role="presentation"><a href="@Url.Action("Index", "Orders")">Orders</a></li>
            <li role="presentation" class="active"><a href="@Url.Action("Index", "FloorGrid")">Floor Grid</a></li>
            <li role="presentation"><a href="@Url.Action("Index", "Settings")">Settings</a></li>

        }
        else
        {
            <li role="presentation"><a href="@Url.Action("Index", "Inventory")">Inventory</a></li>
            <li role="presentation"><a href="@Url.Action("Index", "Orders")">Orders</a></li>
            <li role="presentation"><a href="@Url.Action("Index", "FloorGrid")">Floor Grid</a></li>
            <li role="presentation" class="active"><a href="@Url.Action("Index", "Settings")">Settings</a></li>

        }
    </ul>
    <!-- END NAV-->
    <br/>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="">2017 - OSWAMS</a>
                </div>
                <ul class="nav navbar-nav"> 
                    <li role="presentation"><a href="@Url.Action("About", "Utility")">About the Project</a></li>
                    <li role="presentation"><a href="@Url.Action("Terms", "Utility")">Terms of Use</a></li>
                    <li role="presentation"><a href="@Url.Action("Contact", "Utility")">Contact</a></li>
                </ul>
            </div>

        </footer>
    </div>

    <environment names="Development">
        <script src="~/Scripts/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/Scripts/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
